
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>

<header>
<div class="main-heading">
  <h1><span>Emotion detector</span></h1>
  <p>Upload a photo and we will recognize an emotion on it</p>
</div>
</header>

  <form method="post" enctype="multipart/form-data">
    <button class="bot1" type="submit">Upload</button>
  </form>
  <!-- <h3>Succesfully uploaded :</h3> -->
    <img src="" alt="connect..." style="text-align: center; height:300px; width: 300px; margin: auto;">
    <div>
        <div>
            <p><output>{{answer}}</output></p>
        </div>
    </div>
</body>
</html>